@layer components {
  .navigation-item {
    @apply btn btn-ghost flex items-center justify-center;
  }

  .navigation-text {
    @apply text-nowrap text-sm font-normal;
  }

  .navigation-text-button {
    @apply btn btn-ghost text-nowrap text-sm font-normal;
  }

  .icon-style {
    @apply h-6 w-6 fill-none stroke-current stroke-[1.5px] lg:h-8 lg:w-8;
  }

  .icon-style-sm {
    @apply h-6 w-6 fill-none stroke-current stroke-[1.5px];
  }
  .article-list-container {
    @apply max-w-100 bg-base-100 md:max-w-160 lg:max-w-180 flex h-full flex-col items-center justify-center space-y-2 overflow-auto rounded-2xl py-4 shadow-2xl;
  }

  .article-container {
    @apply min-h-120 w-9/10 rounded-4xl bg-base-100 flex flex-col items-center justify-center px-4 py-12 shadow-2xl lg:w-1/2 lg:p-16 lg:px-8;
  }

  .article-render {
    @apply prose prose-sm prose-slate lg:prose-base w-full text-pretty p-1 text-justify tracking-wide;
  }
}
