---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagList from "../../components/TagList.astro";
---

<BaseLayout
  title="标签"
  description="我的标签页面"
  keywords={["标签", "分类", "整理", "归档"]}
>
  <div class="article-container" data-pagefind-ignore="all">
    <h1 class="mb-8 text-2xl font-bold">All Tags</h1>
    <TagList />
  </div>
</BaseLayout>
