---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagList from "../../components/TagList.astro";
---

<BaseLayout
  title="标签"
  description="我的标签页面"
  keywords={["标签", "分类", "整理", "归档"]}
>
  <div class="article-container">
    <h1 class="text-2xl font-bold">Tags</h1>
    <TagList />
  </div>
</BaseLayout>
