<a class="btn gap-2 btn-ghost" href="/reading" title="Dkphhh's Bookmark">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="lucide lucide-bookmark-icon lucide-bookmark icon-style-sm"
    ><path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path></svg
  >
  <span class="navigation-text">All Bookmarks</span>
</a>
