---

---

<a
  class="btn h-fit py-2 text-center text-sm font-bold btn-ghost lg:absolute lg:top-8 lg:text-base"
  href="/"
  aria-label="murmur"
  title="回到首页"
>
  <h1 class="leading-none">
    <span>Mur</span><span class="block">mur</span>
  </h1>
</a>
