---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found" description="Page Not Found">
  <div class="flex-col-center h-full gap-8">
    <h1 class="text-5xl font-bold">404</h1>
    <p class="text-xl italic">页面可能不存在 / Page Not Found</p>
    <a href="/" class="btn btn-lg">返回主页 / Go to Home</a>
  </div></BaseLayout
>
