---
import SearchBox from "astro-pagefind/components/Search";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Search" description="Search Page">

  <div class="flex-center min-h-120 w-9/10 rounded-4xl p-8 lg:w-1/2">
    <SearchBox
      id="search"
      className="pagefind-ui"
      uiOptions={{
        showImages: false,
        pageSize: 10,
        showSubResults: true,
        showEmptyFilters: true,
        resetStyles: true,
        excerptLength: 12,
      }}
    />
  </div>
</BaseLayout>
