---
import { formatDatetimeToText } from "../../utils/datetime-tools";

interface Props {
  frontmatter: PostFrontmatter;
}

const { frontmatter } = Astro.props as Props;
---

<span class="text-sm">
  {
    frontmatter.category === "clipping" && frontmatter.published ? (<span>Published@ </span>
      <time>{formatDatetimeToText(frontmatter.published)}</time>
    ) : frontmatter.category === "clipping" ? (
    <span>Saved@ </span>
    <time>{formatDatetimeToText(frontmatter.saved)}</time>
    ) : (
      <span>Created@ </span>
      <time>{formatDatetimeToText(frontmatter.created)}</time>
    )
  }
</span>
