---
import BaseLayout from "./BaseLayout.astro";
import PostMetadata from "../components/PostMetadata.astro";

interface Props {
  frontmatter: PostFrontmatter;
}
const { frontmatter } = Astro.props as Props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description || ""}
  keywords={frontmatter.tags || []}
>
  <div
    class="flex-col-center min-h-120 w-5/6 max-w-200 min-w-100 rounded-4xl bg-base-100 p-12 shadow-2xl lg:w-2/3 lg:p-16"
  >
    <PostMetadata frontmatter={frontmatter} />
    <article class="article-render">
      <slot />
    </article>
  </div>
</BaseLayout>
