---
import BaseLayout from "./BaseLayout.astro";
import { formatDatetimeToText } from "../../utils/datetime-tools";

interface Props {
  frontmatter: PostFrontmatter;
}
const { frontmatter } = Astro.props as Props;

const publishedDate =
  frontmatter.category === "clipping" ? frontmatter.saved : frontmatter.created;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description || ""}
  keywords={frontmatter.tags || []}
>
  <div class="prose prose-sm min-h-screen w-10/12 prose-slate lg:w-2/3 text-justify">
    <h1>{frontmatter.title}</h1>
    <p>作者：{frontmatter.author}</p>
    <p>发布时间：{formatDatetimeToText(publishedDate)}</p>
    <article>
      <slot />
    </article>
  </div>
</BaseLayout>
