---
import BaseLayout from "./BaseLayout.astro";
import PostMetadata from "../components/PostMetadata.astro";

interface Props {
  frontmatter: PostFrontmatter;
}
const { frontmatter } = Astro.props as Props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description || ""}
  keywords={frontmatter.tags || []}
>
  <div class="article-container">
    <PostMetadata frontmatter={frontmatter} />
    <article class="article-render" data-pagefind-body>
      <slot />
    </article>
  </div>
</BaseLayout>
